/**
 * VARIABLES
 */
 
// GRID SETTINGS
$layout-gutter: 7px;
$layout-padding: 7px;
$layout-grids: 12;
$layout-wrapper-width-xs: 95%;
$layout-wrapper-width-m: 90%;
$layout-wrapper-width-sm: 90%;

// FONTS
$font-default: sans-serif;


// FONT COLORS
$font-color-default: #777;


//COLORS
$color-white: #fff;
$color-rum: #716b85;
$color-blue: #28494c;
$color-tiara: #cad2d3;
