/**
 * VARIABLES
 */
 
// GRID SETTINGS
$col-prefix: 'col-';
$layout-gutter: 7px;
$layout-padding: 7px;
$layout-grids: 12;
$layout-wrapper-width-xs: 95%;
$layout-wrapper-width-m: 90%;
$layout-wrapper-width-sm: 90%;

// MEDIA QUERIES
$viewport-width-xs: 320px;
$viewport-width-s: 480px;
$viewport-width-sm: 640px;
$viewport-width-m: 768px;
$viewport-width-ml: 1024px;
