/**
 * Content wrapper
 */

.content-wrapper {
    margin: 0 auto;
    width: $layout-wrapper-width-xs;
}


//tablet
@include for-viewport-width($viewport-width-sm) {
    //for viewport width, content will be centered into the wrapper
    .content-wrapper {
        width: $layout-wrapper-width-sm;
    }

}

//desktop
@include for-viewport-width($viewport-width-m) {
    //for bigger viewport width, content will be centered into the wrapper
    .content-wrapper {
        width: $layout-wrapper-width-m;
    }
}
