/**
 * LAYOUT
 */

$col-prefix: 'col-';

//setting for xs devices
[class^='#{$col-prefix}'] {
    padding: $layout-gutter;
}

// MOBILE
@include for-viewport-width($viewport-width-s) {
    
    @include default-for-cols('col-');
    @include grid($layout-grids, 'col-s', $layout-gutter);

    .row {
        box-sizing: border-box;
        margin: 0 #{-$layout-gutter};
    }

    .row:after {
        clear: both;
        content: '';
        display: table;
    }


    [class^='#{$col-prefix}'] {
        box-sizing: border-box;
        float: left;
    }

    [class^='#{$col-prefix}']:nth-first-child {
        margin-left: -$layout-gutter;
    }

    [class^='#{$col-prefix}']:nth-last-child {
        margin-right: -$layout-gutter;
    }
}

//tablet
@include for-viewport-width($viewport-width-sm) {
    @include grid($layout-grids, '#{$col-prefix}sm', $layout-gutter);
}

//desktop
@include for-viewport-width($viewport-width-m) {
    @include grid($layout-grids, '#{$col-prefix}m', $layout-gutter);
}

//big size...
@include for-viewport-width($viewport-width-ml) {
    @include grid($layout-grids, '#{$col-prefix}ml', $layout-gutter);
}
