/*
 * RESET
 * Browser same behaviour reset
 */

//variables
$body-bg-color: #fff;

//declarations
body {
    background: none $body-bg-color;
    color: $font-color-default;
    font-family: $font-default;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: $font-color-default;
    font-family: $font-default;
}

ul,
ol {
    margin: 0;
    padding: 0 0 0 3 * $layout-gutter;
}

